


/* HEADER START */

header{
    background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url('../img/header.jpg');
    background-image: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url('../img/header.jpg');
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url('../img/header.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 200px;
	max-height: 400px;
}
.header-wrap{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}
.header-wrap h1{
	color: white;
}

/* HEADER END */

/* CRYPTO PRICE TABLE START */

table.crypto-table{
	width: 100%;
}
.crypto-table tbody tr{
	padding-top: 15px;
	padding-bottom: 15px;
}
.crypto-table tbody tr td:first-child{
	text-align: center;
}
.crypto-table tbody tr td:first-child i{
	font-size: 20px;
}
.crypto-table tbody tr{
	cursor: pointer;
}
.crypto-table tbody tr.even{
	background-color: #d9d9d9;
}
.crypto-table tbody tr:hover{
	background-color: #a6a6a6;
}
.crypto-table tbody tr.flash-green{
	background-color: #00b300;
	color: white;
}
.crypto-table tbody tr.flash-red{
	background-color: #990000;
	color: white;
}

/* CRYPTO PRICE TABLE END */